.section-top-information .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section-top-information .wrapper > .information-contact,
.section-top-information .wrapper > .information-heading,
.section-top-information .wrapper > .slider-top-information,
.section-top-information .wrapper > footer {
  align-self: stretch;
  width: 100%;
}

.section-top-information .social-item {
  display: block;
}

.section-top-information .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; gap: 0.5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-top-information .information-heading {
  text-align: center;
}

.section-top-information .title-common-primary {
  margin-bottom: 0;
}

.section-top-information .title-common-primary .title-label {
  margin-left: 0;
  letter-spacing: 0;
}

.section-top-information .information-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.06rem;
}

.section-top-information .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.24rem;
}

.section-top-information .social-link {
  text-align: center;
  color: #6F4750;
}

.section-top-information .social-item {
  width: 0.48rem;
  height: 0.48rem;
}

@media print,
(min-width: 768px) {
  .section-top-information .wrapper {
    max-width: 15rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-top-information {
    flex: 1 1 auto;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background: url("/img/top/information_bg_01.jpg") center center/cover no-repeat;
  }

  .section-top-information .contact-costamigo {
    width: 1.95rem;
  }

  .section-top-information .information-contact {
    margin-bottom: 0.22rem;
  }

  .section-top-information .contact-erasland {
    width: 2.3rem;
  }

  .section-top-information .social-link {
    font-size: 0.3rem;
  }

  .section-top-information .information-heading {
    margin-bottom: 0.7rem;
  }

  .section-top-information .title-common-primary .title-label {
    font-size: 0.48rem;
    margin-bottom: 0.2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1366px) and (max-height: 768px) {
  .section-top-information .information-heading {
    margin-bottom: 0.2rem;
  }

  .slider-top-information {
    margin-bottom: 0.22rem;
  }
}

@media (min-width: 768px) and (max-height: 720px) {
  .slider-top-information {
    margin-bottom: 0.16rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .section-top-information {
    padding: 0.4rem 0;
    min-height: 100dvh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("/img/top/sp/information_bg_01.jpg") center center/cover no-repeat;
  }

  .section-top-information .wrapper {
    justify-content: center;
    align-items: center;
  }

  .section-top-information .information-heading {
    margin-bottom: 0.5rem;
  }

  .section-top-information .information-contact {
    margin-bottom: 0.4rem;
  }

  .section-top-information .contact-costamigo {
    width: 1.5rem;
  }

  .section-top-information .contact-erasland {
    width: 1.64rem;
  }
  
  .section-top-information .title-common-primary .title-label {
    margin-top: 0;
    font-size: 0.31rem;
    line-height: 1.5;
  }
}

.slider-top-information {
  position: relative;
  z-index: 1;
  margin-top: 0;
}

.slider-top-information .slide-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  text-align: center;
  background: url("/img/top/slider_bg_01.svg") center center/cover no-repeat;
}

.slider-top-information .slide-item .slide-number {
  line-height: 1;
  display: inline-block;
}

.slider-top-information .slide-item .slide-text {
  display: inline-block;
  font-family: "Playfair Display", serif;
}

.slider-top-information .swiper-button-next,
.slider-top-information .swiper-button-prev {
  background: url(/img/top/arrow_slider_01.svg) no-repeat center center/cover;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  border-radius: 50%;
}

.slider-top-information .swiper-button-next::after,
.slider-top-information .swiper-button-prev::after {
  content: none;
}

.slider-top-information .swiper-button-next.swiper-button-disabled,
.slider-top-information .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  background-image: url(/img/top/arrow_slider_02.svg);
}

.slider-top-information .swiper-button-next {
  -webkit-filter: drop-shadow(0 0.04rem 0.04rem rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0 0.04rem 0.04rem rgba(0, 0, 0, 0.25));
}

.slider-top-information .swiper-button-prev {
  -webkit-filter: drop-shadow(0 0.04rem 0.04rem rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0 0.04rem 0.04rem rgba(0, 0, 0, 0.25));
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media print,
(min-width: 768px) {
  .slider-top-information {
    margin-bottom: 0.32rem;
  }

  .slider-top-information .slide-grid {
    display: grid;
    grid-template-columns: repeat(4, 2.28rem);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 0.16rem 0.75rem;
  }

  .slider-top-information .slide-item {
    width: 2.28rem;
    height: 2.24rem;
    padding: 0.66rem 0.3rem 0.1rem;
  }

  .slider-top-information .slide-number {
    font-size: 0.6rem;
    margin-bottom: 0.06rem;
  }

  .slider-top-information .slide-text {
    font-size: 0.22rem;
    line-height: 1.3;
  }

  .slider-top-information .swiper-button-next,
  .slider-top-information .swiper-button-prev {
    width: 0.6rem;
    height: 0.6rem;
  }

  .slider-top-information .swiper-button-next {
    right: 0.4rem;
  }

  .slider-top-information .swiper-button-prev {
    left: 0.4rem;
  }

  .slider-top-information .swiper {
    margin: 0 1.82rem;
    overflow: hidden;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1100.98px) {
  .slider-top-information .slide-grid {
    gap: 0.16rem 0.5rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .slider-top-information {
    margin-bottom: 0.4rem;
  }

  .slider-top-information .slide-grid {
    display: grid;
    grid-template-columns: repeat(2, 1.28rem);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 0.16rem 0.4rem;
  }

  .slider-top-information .swiper-button-next,
  .slider-top-information .swiper-button-prev {
    width: 0.48rem;
    height: 0.48rem;
  }

  .slider-top-information .swiper-button-next {
    right: -0.05rem;
  }

  .slider-top-information .swiper-button-prev {
    left: -0.05rem;
  }

  .slider-top-information .swiper {
    margin: 0 0.2rem;
    overflow: hidden;
  }

  .slider-top-information .slide-item {
    width: 1.28rem;
    height: 1.28rem;
    padding: 0.4rem 0.1rem 0.1rem;
  }

  .slider-top-information .slide-number {
    font-size: 0.3rem;
    margin-bottom: 0.06rem;
  }

  .slider-top-information .slide-text {
    font-size: 0.14rem;
    line-height: 1.3;
  }
}

